:root {
    --poke-red : #ff0000;
    --poke-darkred : #cc0000;
    --poke-red-transp :  #cc0000be;
    --poke-blue : #3b4cca;
    --poke-blue-transp: #3b4ccaa9; 
    --poke-yellow : #ffde00;
    --poke-darkyellow : #b3a125;
    --poke-grass1 : #70c8a0;
    --poke-grass2 : #b8c870;
    --poke-grey : #878787;
    --poke-sky-blue : #daeaf7;
    --poke-hp-bar-blue: rgb(20, 80, 176);

    --cursor: pointer;
    --disallow_cursor: not-allowed;
    --default : default;
}

.info-button{
    height: 3rem;
    cursor: var(--cursor);
}
.info-button-opp-reveal{
    position: fixed;
    top:2vh; right:2vw;
}
.info-popup-hidden{
    display: none;

    background-color: var(--poke-sky-blue);

    border-radius: 2rem;

    position: fixed;
    top:5vh; left:5vw;
    height: 90vh;
    width: 90vw;
}
.close-button{
    position: absolute;
    top:1rem; 
    right: 1rem;
    height: 3rem; width: 3rem;
    color:red;
    background-image: url('images/cross-button.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.info-popup-unleashed{
    display: block;
    z-index: 200;
}
.background-no-scroll{
    overflow: hidden;
}
.background-blur{
    filter: blur(0.25rem);
}

.info-flex{
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    width: 90%; height: fit-content;
    /* border: solid 3px teal; */
    margin:0 auto;
    margin-top:1rem;
    flex-direction: column;
    overflow-y: auto;

    height: fit-content;
}
.heading{
    font-size: 3rem;
}
.content{
    display: flex; 
    flex-direction: row;
    align-items: center;
}
.tenor-gif{
    width:50%;
}
.choose-poke-strength{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.difficulty-choice{
    display: flex;
}
.choose-poke-strength{
    text-align: center;
}
.user-choosing{
    row-gap: 0.25rem;
    display: flex;
    width: 50%; 
    flex-direction: column;
    align-items: center;
}
.opp-choosing{
    row-gap: 0.25rem;
    display: flex;
    width: 50%; 
    flex-direction: column;
    align-items: center;
}
.info-choice-button{
    width:40%;
    height: 2rem;
}

.info-text{
    padding-left: 4vw;
    display: flex; flex-direction: column;
    justify-content: center;
    height: 70vh;
    overflow-y:scroll;
}

body{
    /* background-color: var(--poke-grass2); */
    margin: 0; position: relative;

    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style:normal;  
    font-size: 2rem;
    letter-spacing: 0.2rem;

    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.selection-page-body{
    cursor: var(--default);
    background-image: url("images/background-lab.jpg");
}

.index-load-screen{
    position:absolute;
    top:0; left:0;
    overflow-x: hidden;
    background-color: var(--poke-grey);
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
.index-load-screen>img{
    height: fit-content;
}

.selection-panel{
    display:flex; flex-direction: row;
    flex-wrap: wrap;
    position: sticky; top:0; z-index: 5;

    width: 100%; min-height: 8rem;
    align-items: center;
    margin:0 auto;
    margin: top 0rem;
    padding-bottom: 0rem; padding-top: 0.5rem;

    background-color: var(--poke-darkyellow);
    justify-content: space-around;
}

.selection-left{
    position: relative;

    margin:0;
    display:flex; flex-direction: row;
    column-gap: 4rem;
    /* flex-wrap: wrap;  */
    width: 55%; height: 8rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */

    margin-top:0.5rem;
    padding:0;
    padding-left: 1rem; padding-right:1rem;

    background-image: url(images/grass-1.png);
    background-size:100% 105%;
}

.selected-poke-image{
    height: 60%; 
    scale:1.1;
    transform: scaleX(1);
    /* width: 16%;  */
}

.exciting-text{
    font-size: 3rem;
}

.container{
    position: relative;
    display:flex;
    flex-direction: row;
    width:90%;
    /* align-items:; */
    margin: 0 auto;
    margin-top : 4rem;
    column-gap: 2rem;
}
.half{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:50%;
    /* border: solid 5px teal; */
    justify-content: center;
    padding:1rem;

    row-gap: 1rem; column-gap: 1rem;
}

.poke-card{
    cursor: var(--cursor);
    width: 13rem; height: fit-content;

    display:flex; flex-direction: column;
    border: solid 2rem var(#343434);
    border-style: groove;
    border-radius : 1rem;

    background-color: rgba(192, 192, 192, 0.746);
}
.clicked-poke-card{
    border-color: var(--poke-grey);
    background-color: var(--poke-blue-transp);
    border-width: 0.5rem;
    scale: 1.05;

    color:whitesmoke;
}

.poke-card-poke-name{
    text-align: center;
}

.poke-description{
    display: flex;
    flex-direction: column;
    height: 70vh; width: 50%;
    /* border: solid 3px var(--poke-grass1); */

    position:sticky; top:12rem;

    background-image: url('images/pokedex-2.png');
    background-size: 100% 100%; background-repeat: no-repeat;
}

#pokedex-poke-img{
    position: absolute;

    height: 10rem;
    width: 10rem;
}

.button-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    width: 40%;
}

.clear-selection-button{
    cursor: var(--cursor);
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style:normal;  
    font-size: 2rem;
    letter-spacing: 0.2rem;

    background-color: var(--poke-grey);
    border-radius: 1rem;
    border-width: 0.4rem;
    border-style: dashed;
    border-color: black;
}

.battle-button{
    cursor: var(--cursor);
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style:normal;  
    font-size: 2rem;
    letter-spacing: 0.2rem;

    background-color: var(--poke-grey);
    border-radius: 1rem;
    border-width: 0.4rem;
    border-style: dashed;
    border-color: black;
}

/*///////////////////////////////////////////////////*/
/*battle_2.html*/

#opp-reveal-body{
    position: relative;
    background-image: url("images/opp-reveal-bg.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.versus-panel{
    display: flex;
    justify-content: space-around;
    width:95%; margin:0 auto;
    margin-top:10vh;
    
    width: 90vw;
    height: 80vh;
}

.my-squad{
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    width: 40%; height: 100%;
    justify-content: space-around;
    align-items: center;
}

.opponent{
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    width: 40%; height: 100%;
    justify-content: space-around;
    align-items: center;
}

.opp-poke-card{
    height: 30vh; width: 30%;
    border: solid 0.25rem teal;
    align-items: center;
    justify-content: center;
    background-color: var(--poke-blue-transp);

    border-radius: 2rem;
    padding-top:0.5rem;
}
.opp-poke-card>img{
    width:90%;
}
.opp-poke-card>p{
    text-align: center;
    font-size: 1.5rem;
    padding-left:0.2rem; padding-right:0.2rem;
}

.opp-poke-name{
    font-size: 0.7rem;
    color:gold;
    font-weight: 700;
}

.opp-page-center{
    display: flex; flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.redirect-battle{
    cursor: var(--cursor);

    display: flex;
    background-color: var(--poke-red-transp);
    border: solid 0.25rem var(--poke-red-transp);
    color: white;
    text-decoration: none;
    width: fit-content;
    height: fit-content;   
    border-radius: 2rem; 
    justify-content: center;
    align-items: center;

    padding:1rem;
}
.redirect-battle:hover{
    scale:1;
    color: var(--poke-red-transp);
    background-color: white;
}
.redirect-battle>div{
    font-size: 3rem;
}

.redirect-selection{
    cursor: var(--cursor);
    display: flex;
    background-color: var(--poke-red-transp);
    border: solid 0.25rem var(--poke-red-transp);
    color: white;
    text-decoration: none;
    width: fit-content;
    height: fit-content;   
    border-radius: 2rem; 
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 2rem;
}
.redirect-selection:hover{
    scale:1;
    color: var(--poke-red-transp);
    background-color: white;
    border: solid 0.25rem var(--poke-red-transp);
}
.redirect-selection>div{
    font-size: 3rem;
}



/*Battle page*/
.battle-page-body{
    cursor: var(--default);
    margin: 0; position:relative; height: 100vh; width: 100vw;
    background-image: url("images/background-battle-center.jpg"), url("images/background-battle-bottom.png");
    background-size: 60% 70vh, 100% 30vh;
    background-position:top, bottom;
}

.battle-poke-list{
    display: flex; flex-direction: column;
    position: absolute; 
    width:20%; height: 70vh;
    background-color: rgb(41, 107, 41);

    justify-content:space-around; align-items: center;
}

.left-battle-poke-list{
    top:0; left:0;
}

.right-battle-poke-list{
    top:0; right:0;
}

.battle-poke-card{
    position: relative;
    height: 11vh; width: 95%;
    background-color: yellow;
    border: solid 3px red;
    padding-left:0.5rem;
    align-items: center;

    display: flex; flex-direction: row;

    border-radius: 2rem;
}
.used-battle-poke-card{
    cursor:var(--disallow_cursor);
    background-color: var(--poke-red-transp);
}
.current-use-battle-poke-card{

    background-color: var(--poke-blue-transp);
}
.left-battle-poke-card{
    cursor: var(--cursor);
}
.left-battle-poke-card:hover{
    /* opacity: 0.2; */
}
.right-battle-poke-card{
    cursor: var(--disallow_cursor);
}

.battle-poke-image{
    height: 80%; width:auto;
}

.battle-poke-card-text-flex{
    display: flex;
    width:auto; 
    flex-direction: column;
}

.round-details{
    display:flex; position: absolute;
    top:0; 
    width:auto; left:22%; right:22% ;
    border: solid 0.25rem;
    border-color: var(--poke-darkred);
    background-color: var(--poke-grass1);

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
    justify-content: space-around;
}

/* .num-user-win{

}
.num-round{

}
.num-opp-win{

} */

.bottom-space{
    cursor: var(--default);
    position:absolute;  left:2%; right:2%; bottom:8vh;
    display:flex; flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    background-color: var(--poke-grey);
    width: 96%;
    align-items: center;
}

.user-current-poke-stats{
    padding-left: 2rem;
    padding-right: 1rem;
    height: 100%; width: 40%; 
    /* border: solid 4px teal; */
    display: flex; flex-direction: column;
}
.name{
    font-size: 1rem;
}
.hp-and-attack-flex{
    display: flex; flex-direction: row;
}
.hp{
    width:40%;
    font-size: 4rem;
}
.moves{
    width: auto;
}

.opp-current-poke-stats{
    padding-left: 2rem;
    padding-right: 1rem;
    height: 100%; width: 40%; 
    /* border: solid 4px teal; */
    display: flex; flex-direction: column;
} 

.lets-battle-button{
    cursor: var(--disallow_cursor);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: gray;
    border: solid 2px teal;

    height: 50%;

    padding: 1rem;
    border-radius: 2rem;
}

.lets-battle-button-clickable{
    cursor: var(--cursor);
    color: white;
    background-color: var(--poke-red-transp);
    border: solid 2px gray;
}

/* .floater-battle{
    display:flex; flex-direction: row-reverse;
    position: absolute;
    top:25vh;
    left:30vw;
    width:40vw; 
    height: 20vh;
    justify-content: space-around;
}*/






/*for battle_page2.html */
.battle2-page-body{
    cursor: var(--default);
    margin: 0; position:relative; height: 100vh; width: 100vw;
    background-image: url("images/background-battle-center.jpg"), url("images/background-battle-bottom.png");
    background-size: 60% 70vh, 100% 30vh;
    background-position:top, bottom;

    letter-spacing: 0.1rem;
}

.poke-ability-card{
    cursor: var(--cursor);
    position: relative;
    height: 12vh; width: 90%;
    background-color: rgb(255, 255, 0);
    border: solid 3px red;
    padding-left:0.5rem;
    align-items: center;

    border-radius: 2rem;

    display: flex; flex-direction: column;
    row-gap: 0.2rem;
    justify-content: space-around;
}
.poke-ability-card-clickable:hover{
    scale:1;
    color: var(--poke-red-transp);
    background-color: white;
    opacity: 0.8;
}
.poke-ability-card-selected{
    background-color: var(--poke-grey);
    color: var(--poke-red-transp);
}
.poke-ability-card-no-click{
    opacity: 0.6;
    cursor: var(--disallow_cursor);
}

.move-name{
    font-size: 2vh;
}
.damage{
    font-size: 1.8vh;
}
.pp{
    font-size: 1.8vh;
}

.battle-ability-list{
    display: flex; flex-direction: column;
    position: absolute; 
    width:20%; height: 70vh;
    background-color: green;

    justify-content:space-around; align-items: center;
}
.left-battle-ability-list{
    top:0; left:0;
}
.right-battle-ability-list{
    cursor: var(--disallow_cursor);
    top:0; right:0;
}

.bottom-space-battle2{
    position:absolute;  left:2%; right:2%; bottom:4vh;
    display:flex; flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 23vh;
    width: 95%;
}
.user-poke-details{
    font-size: 4rem;
}
.match-description{
    display: flex; flex-direction: column;
}
.attack-who-to-who{
    height: 30%; 
    /* border:solid 0.25rem teal; */
}
.opp-poke-details{
    font-size: 4rem;
}

.floater-user{
    position: absolute;
    top:35vh; left:35vw;
    scale:1;
}

.floater-opp{
    position: absolute;
    top:28vh; right:35vw;
    scale:1;
}

.floater-user-poke-hp{
    text-align: center; padding:0.5rem;
    font-size: 1rem; color: var(--poke-blue);
    font-weight: 700;
    background-color: var(--poke-grass1);

    border-radius: 1rem;
}
.floater-opp-poke-hp{
    text-align: center; padding:0.5rem; 
    font-size: 1rem; color: var(--poke-red);
    background-color: var(--poke-grass1);
    font-weight: 700;

    border-radius: 1rem;
}
.floater-user-poke-img{
    width: 10rem;
}
.floater-opp-poke-img{
    width: 10rem;
}

.active-indicator{
    color: var(--poke-yellow);
}

.health-bar-container{
    display: flex;
    position: absolute;
    bottom: 30vh;
    width: auto;
    left: 22%;
    right: 22%;
    border: solid 0.25rem;
    border-color: var(--poke-darkred);
    background-color: var(--poke-grass1);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    justify-content: center;
    
    height: 3vh;
}
.user{
    display: flex; flex-direction: row;
    width:100%; 
    /* height: 5vh; */
    justify-content: flex-end;
    border-right:solid 0.1rem var(--poke-darkred);
}
.opp{
    border-left:solid 0.1rem var(--poke-darkred);
    display: flex; flex-direction: row-reverse;
    width:100%; 
    /* height: 5vh; */
    justify-content: flex-end;
}
.user-bar{
    width:100%;

    height: 100%;
    background-color: rgb(20, 80, 176);

    border-top-left-radius: 2rem;
}
.opp-bar{
    width:100%;

    height: 100%;
    background-color: rgb(20, 80, 176);

    border-top-right-radius: 2rem;
}

.player-dead{
    filter:invert(1);
}
.player-dead2{
    filter:invert(0.8);
}