:root {
    --poke-red : #ff0000;
    --poke-darkred : #cc0000;
    --poke-red-transp :  #cc0000be;
    --poke-blue : #3b4cca;
    --poke-blue-transp: #3b4ccaa9; 
    --poke-yellow : #ffde00;
    --poke-darkyellow : #b3a125;
    --poke-grass1 : #70c8a0;
    --poke-grass2 : #b8c870;
    --poke-grey : #878787;
}

body{
    /* background-color: var(--poke-grass2); */
    margin: 0; position: relative;

    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style:normal;  
    font-size: 2rem;
    letter-spacing: 0.2rem;

    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.selection-page-body{
    background-image: url("images/background-lab.jpg");
}

.selection-panel{
    display:flex; flex-direction: row;
    flex-wrap: wrap;
    position: sticky; top:0; z-index: 5;

    width: 100%; min-height: 8rem;
    align-items: center;
    margin:0 auto;
    margin: top 0rem;
    padding-bottom: 0rem; padding-top: 0.5rem;

    background-color: var(--poke-darkyellow);
    justify-content: space-around;
}

.selection-left{
    margin:0;
    display:flex; flex-direction: row;
    column-gap: 4rem;
    flex-wrap: wrap; 
    width: 50%; height: 8rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    justify-content: center;

    margin-top:0.5rem;
    padding:0;
    padding-left: 1rem; padding-right:1rem;

    background-image: url(images/grass-1.png);
    background-size:100% 105%;

}

.selected-poke-image{
    height: 60%; width: auto; 
}

.exciting-text{
    font-size: 3rem;
}

.container{
    position: relative;
    display:flex;
    flex-direction: row;
    width:90%;
    /* align-items:; */
    margin: 0 auto;
    margin-top : 4rem;
    column-gap: 2rem;
}
.half{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:50%;
    /* border: solid 5px teal; */
    justify-content: center;
    padding:1rem;

    row-gap: 1rem; column-gap: 1rem;
}

.poke-card{
    width: 13rem; height: fit-content;

    display:flex; flex-direction: column;
    border: solid 2rem var(#343434);
    border-style: groove;
    border-radius : 1rem;

    background-color: rgba(192, 192, 192, 0.746);
}
.clicked-poke-card{
    border-color: var(--poke-grey);
    background-color: var(--poke-blue-transp);
    border-width: 0.5rem;
    scale: 1.05;

    color:whitesmoke;
}

.poke-card-poke-name{
    text-align: center;
}

.poke-description{
    display: flex;
    flex-direction: column;
    height: 70vh; width: 50%;
    /* border: solid 3px var(--poke-grass1); */

    position:sticky; top:12rem;

    background-image: url('images/pokedex-2.png');
    background-size: 100% 100%; background-repeat: no-repeat;
}

#pokedex-poke-img{
    position: absolute;

    height: 10rem;
    width: 10rem;
}

.button-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    width: 30%;
}

.clear-selection-button{
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style:normal;  
    font-size: 2rem;
    letter-spacing: 0.2rem;

    background-color: var(--poke-grey);
    border-radius: 1rem;
    border-width: 0.4rem;
    border-style: dashed;
    border-color: black;
}

.battle-button{
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style:normal;  
    font-size: 2rem;
    letter-spacing: 0.2rem;

    background-color: var(--poke-grey);
    border-radius: 1rem;
    border-width: 0.4rem;
    border-style: dashed;
    border-color: black;
}


/*///////////////////////////////////////////////////*/
/*battle_2.html*/

#opp-reveal-body{
    position: relative;
    background-image: url("images/opp-reveal-bg.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.versus-panel{
    display: flex;
    justify-content: space-around;
    width:95%; margin:0 auto;
    margin-top:10vh;
    border: solid 0.5rem teal;
    
    width: 90vw;
    height: 80vh;
}

.my-squad{
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    width: 40%; height: 100%;
    border: solid 0.25rem teal;
}

.opponent{
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    width: 40%; height: 100%;
    border: solid 0.25rem teal;
}

.opp-poke-card{
    height: fit-content;
    border: solid 0.25rem teal;
}

.opp-poke-name{
    font-size: 1rem;
}

.opp-page-center{
    display: flex; flex-direction: column;
    justify-content: space-between;
}

.redirect-battle{
    border: solid 4px red;
}

.redirect-selection{
    border: solid 4px red;
}



/*Battle page*/
.battle-page-body{
    margin: 0; position:relative;
    background-image: url("images/background-battle-center.jpg"), url("images/background-battle-bottom.png");
    background-size: 60% 70vh, 100% 30vh;
    background-position:top, bottom;
}

.battle-poke-list{
    display: flex; flex-direction: column;
    position: absolute; 
    width:20%; height: 70vh;
    background-color: green;

    justify-content:space-around; align-items: center;
}

.left-battle-poke-list{
    top:0; left:0;
}

.right-battle-poke-list{
    top:0; right:0;
}

.battle-poke-card{
    position: relative;
    height: 11vh; width: 95%;
    background-color: yellow;
    border: solid 3px red;
    padding-left:0.5rem;
    align-items: center;

    display: flex; flex-direction: row;
}

.battle-poke-image{
    height: 80%; width:auto;
}

.battle-poke-card-text-flex{
    display: flex;
    width:auto; height: 100%;
    flex-direction: column;
}